Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2022-01, with the labels that each got.

#117 Seperate ETag from plugin.json
  ci/src/_utils.py
  ci/src/updater.py
  etags.json
  plugins.json
Labels: Continuous Integration/Workflow

#120 Add Epic launcher to manifest
  plugins.json
Labels: Plugin Submission

#121 Add obsidian plugin
  plugins.json
Labels: Plugin Submission

#122 Add reddit plugin
  plugins.json
Labels: Plugin Submission

#123 Add Playnite Plugin
  plugins.json
Labels: Plugin Submission

#124 Add Windows Terminal Profiles plugin
  plugins.json
Labels: Plugin Submission

#125 Add Github notifications plugin
  plugins.json
Labels: Plugin Submission

#126 Send discord webhook on plugin updates
  .github/workflows/updater.yaml
  ci/src/_utils.py
  ci/src/discord.py
  ci/src/updater.py
Labels: Continuous Integration/Workflow

#128 Use latest version tag
  ci/src/discord.py
  ci/src/updater.py
Labels: bug, Continuous Integration/Workflow

#129 Reformat webhook
  ci/src/_utils.py
  ci/src/discord.py
  ci/src/updater.py
Labels: enhancement, Continuous Integration/Workflow

#131 Add Github Quick launcher Plugin
  plugins.json
Labels: Plugin Submission

#133 Add Spell checker plugin
  plugins.json
Labels: Plugin Submission

#130 Add Desktop Cleanup plugin
  plugins.json
Labels: Plugin Submission

#134 Add KiTTY session launcher plugin
  plugins.json
Labels: Plugin Submission

#132 Add Sonarr Search plugin
  plugins.json
Labels: Plugin Submission

#135 Add plugin to manifest
  plugins.json
Labels: Plugin Submission
