Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2023-06, with the labels that each got.

#248 Add Registry plugin
  plugins.json
Labels: Plugin Submission

#251 fix(discord): :bug: fix webhook failure when release notes too long (#250)
  ci/src/discord.py
Labels: bug, Continuous Integration/Workflow

#254 Add link checker github action
  .github/workflows/links.yml
  plugins.json
Labels: Continuous Integration/Workflow

#256 🔧 Update plugins.json
  plugins.json
Labels: Plugin Submission
