Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2023-09, with the labels that each got.

#274 Add Add2Path Plugin
  plugins.json
Labels: Plugin Submission

#275 Update plugin version
  plugins.json
Labels: bug

#276 Revert "auto updated plugins"
  etags.json
  plugins.json
Labels: bug

#277 Fix null issue in auto updater
  .github/workflows/updater.yaml
  ci/src/updater.py
Labels: bug, Continuous Integration/Workflow

#280 Enable schedule
  .github/workflows/updater.yaml
Labels: Continuous Integration/Workflow

#281 Add Bulk Url Opener plugin
  plugins.json
Labels: Plugin Submission

#279 Add Ryot plugin
  plugins.json
Labels: Plugin Submission

#282 Update Steam Search language field
  plugins.json
Labels: bug

#283 Change the default Python version for PR plugin test
  .github/workflows/test-python.yml
Labels: enhancement, Continuous Integration/Workflow

#287 Add default plugins
  plugins.json
Labels: Plugin Submission
