Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2024-11, with the labels that each got.

#409 Fix incorrect plugin source code url
  plugins/Firefox Keyword Bookmarks-bb3ca236-f416-46d5-b88b-597748c33dce.json
Labels: bug

#410 Add submission restriction list
  LICENSE
  README.md
Labels: documentation

#412 Remove HDRezka Finder plugin
  plugins/HDRezka Finder-9E3D73EA-6618-40B4-AA2A-60F6F60CDD14.json
Labels: bug

#413 change FirefoxKeywordBookmark's language from `python` to `python_v2`
  plugins/Firefox Keyword Bookmarks-bb3ca236-f416-46d5-b88b-597748c33dce.json
Labels: enhancement

#415 New Plugin: Steam Account Switcher
  plugins/Steam Account Switcher-5314722CF6AA4EBF86666C693412A276.json
Labels: Plugin Submission

#416 Add FlowTamer
  plugins/FlowTamer-2D0AFF97E5A445E3BEDD1081B811075A.json
Labels: Plugin Submission

#417 New Plugin Flow Load Notification
  plugins/Flow Load Notification-5f48576d-efe7-4562-a4ed-fe64455f1ac1.json
Labels: Plugin Submission

#418 New Plugin (Hypixel Skyblock Wiki)
  plugins/Hypixel skyblock wiki-007b90cb-708c-4d36-81bf-82db4550a322.json
Labels: Plugin Submission

#419 Urban Dictionary Plugin.
  plugins/UrbanDictionary-57696D7108C9401A9EC016BF63A86CCB.json
Labels: Plugin Submission

#421 New Plugin: Obsidian
  plugins/Obsidian-028C97F910684231AB09B5DD5997D424.json
Labels: Plugin Submission
