Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2024-09, with the labels that each got.

#383 Add new plugin: AppUpgrader
  plugins/AppUpgrader-c11d8b37-9967-4af3-b134-a22171d0dba8.json
Labels: Plugin Submission

#385 add new plugin: BoardGameGeek
  plugins/BoardGameGeek-7AB469ED3A2845E6A7D2975ED4C77FE3.json
Labels: Plugin Submission

#387 Added Open Window Search Plugin
  plugins/Open Window Search-0A3D1C9663EB49308749EC0FED268729.json
Labels: enhancement, Plugin Submission

#389 New Plugin: PowerToys
  plugins/PowerToys-0930723F-73EA-488A-BEE9-8B8D4845B2F1.json
Labels: Plugin Submission

#388 New plugin: Emoji finder
  plugins/Emoji Finder-d50362aa29f04cd59032bb44a5d5f7e5.json
Labels: Plugin Submission

#390 Add plugin: DirQuickJump
  plugins/DirQuickJump-01B2DC8D31394299ACBE3B32D91FA3EC.json
Labels: Plugin Submission

#392 New Plugin: Binance Price
  plugins/BinancePrice-9E3D73EA-6618-40B4-AA2A-60F6F60CDD15.json
Labels: Plugin Submission

#396 New Plugin: FlowTrumpet
  plugins/FlowTrumpet-3AF7F9DD4367439AA4730641D99EDA21.json
Labels: Plugin Submission

#394 New Plugin: HDRezka Finder
  plugins/HDRezka Finder-9E3D73EA-6618-40B4-AA2A-60F6F60CDD14.json
Labels: Plugin Submission

#395 Update Todos-5B7E53D506844D2D8B7001AA19F5EF8F.json
  plugins/Todos-5B7E53D506844D2D8B7001AA19F5EF8F.json
Labels: enhancement

#393 New Plugin : Linguee
  plugins/Linguee-9316b88a-009d-498c-a980-1aefa44d2fd2.json
Labels: Plugin Submission

#397 New Plugin: Http Status Codes
  plugins/Http Status Codes-20CA96840A77452B92D83FB3DD01927C.json
Labels: Plugin Submission

#399 New plugin: RecentProjectsOpen
  plugins/RecentProjectsOpen-7f805128-d4f3-4bfa-bd6e-b4ca0ff58ee9.json
Labels: Plugin Submission
