Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2024-12, with the labels that each got.

#424 add new wordle plugin
  plugins/Wordle-32dcd763-f8ad-4f14-b000-fcf0884f0093.json
Labels: Plugin Submission

#426 add pyrepl plugin
  plugins/PyRepl-8d7d2301-4d69-4da2-a19b-e51c8ea239a9.json
Labels: Plugin Submission

#428 Adding `Nightlight` control plugin.
  plugins/Nightlight-95af3946-2bfe-49af-a9b6-edffa42ef1d5.json
Labels: Plugin Submission

#432 Add filename construct validation
  ci/src/_utils.py
  ci/src/validator.py
Labels: bug, Continuous Integration/Workflow

#431 New Plugin: Unity projects launcher
  plugins/Unity Projects Launcher-8de584c0-f855-4825-8886-65e670ebe441.json
Labels: Plugin Submission

#435 Add plugin submission ID validation
  ci/src/_utils.py
  ci/src/validator.py
Labels: enhancement, Continuous Integration/Workflow

#434 New Plugin: ScreenBrightness
  ScreenBrightness-eb0c1059-1824-4fa6-b04e-aaeb4303cbe1.json
Labels: Plugin Submission

#433 add rtfm plugin
  plugins/rtfm-bd4aff8b-108f-4ce9-affb-57c736648fe7.json
Labels: Plugin Submission

#438 move screenbrightness plugin to plugins dir
  plugins/ScreenBrightness-eb0c1059-1824-4fa6-b04e-aaeb4303cbe1.json
Labels: bug

#440 Re-add Google Search plugin
  plugins/Google Search Plus-4579F00804F94B54B23CF207856E495F.json
Labels: Plugin Submission
