Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2024-08, with the labels that each got.

#371 Add ShikiFlow
  plugins/ShikiFlow-b34023f6440d11ef94540242ac120002.json
Labels: Plugin Submission

#373 Update plugins submission steps in README.md
  README.md
Labels: documentation

#372 :wrench: Update pokedex plugin
  plugins/Pokedex-eda56b23-b5c5-48d9-be0d-05ccb907c86d.json
Labels: bug

#374 Fix 'Update tested plugins' workflow fail
  .github/workflows/python-passed.yml
  plugins/AnyVideo Downloader-70CED0AC-3D9D-4255-AD0B-D9A37862E879.json
  plugins/Bitwarden-5A8EBCEB7F6940E5B628BE122A87B560.json
  plugins/Git Easy-AA9EA7B6AB4A4822858BC38FF6344248.json
  plugins/ShikiFlow-b34023f6440d11ef94540242ac120002.json
Labels: bug, Continuous Integration/Workflow

#375 add LinkOpener plugin
  plugins/LinkOpener-4905edc2-7feb-4036-bfae-b06efc60c879.json
Labels: Plugin Submission

#376 Add new plugin RiderWorkFlow
  plugins/RiderWorkFlow-ade0b65b-a1bc-4130-ab4b-18eb7ac9143f.json
Labels: Plugin Submission

#379 Fix workflow fail
  plugins/Ride Projects Helper-ade0b65b-a1bc-4130-ab4b-18eb7ac9143f.json
  plugins/RiderWorkFlow-ade0b65b-a1bc-4130-ab4b-18eb7ac9143f.json
Labels: bug

#380 Add QuickLook plugin
  plugins/QuickLook-e6a13bf1-5op9-2b96-a7fd-130b7vdt3d14.json
Labels: Plugin Submission

#377 Add Totp
  plugins/Totp-D58F8A08-0C0A-45C3-8690-F7C7877EE611.json
Labels: Plugin Submission

#366 add sharex plugin
  plugins/ShareX_Flow_Plugin-75763350-A89D-4942-B697-14875D94C222.json
Labels: Plugin Submission

#381 Add Clipboard+ plugin
  plugins/Clipboard+-ff9385ec-0e95-452f-bef2-62456f66fe0f.json
Labels: Plugin Submission

#384 add Weather plugin
  plugins/Weather-A9146CE1489147D29A46F32D2EB9FB5E.json
Labels: Plugin Submission
