Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2024-07, with the labels that each got.

#351 Add new plugin MediaControl
  plugins.json
  plugins/MediaControl-C7529F50-2A71-441D-8200-D5C3BCAADAB2.json
Labels: Plugin Submission

#354 add Yu-Gi-Oh! card search
  plugins/Yu-Gi-Oh card search-53fcad7f00e244829b0059eaa8ea5ab7.json
Labels: Plugin Submission

#355 add cursor workspaces plugin
  plugins/Cursor Workspaces-435b5226a00840cebfbdb54dacd26e9d.json
Labels: Plugin Submission

#356 add timer/alarms plugin
  plugins/Lorem Ipsum Generator-e483e4f2-ec67-3c54-2aea-f823c5e5f61b.json
  plugins/Timer-a0d7601f81a942e58b4952be3eb17fb2.json
Labels: Plugin Submission

#357 Fix auto update workflow fail
  ci/src/updater.py
Labels: bug

#358 Fix auto update fail with missing requests package
  ci/src/discord.py
Labels: bug

#359 fix merge manifest and use glob to enumerate files
  .github/workflows/test-python.yml
  .github/workflows/validator.yaml
  ci/src/merge-manifest.py
  etags.json
  plugins.json
  plugins/Google Translate-e47fca5f-4305-4c14-9928-57d2c319d78e.json
  plugins/Hacker News-140f3da0-7d14-4b20-b897-b4cb155fec2d.json
  plugins/When to Expect-77435DA907472F189B759F9F4F3E3C23.json
  plugins/Yu-Gi-Oh card search-53fcad7f00e244829b0059eaa8ea5ab7.json
Labels: bug

#360 Fix plugin list
  plugins.json
  plugins/Google Calendar-f823a07e-7191-11ed-a1eb-0242ac120002.json
  plugins/Vercel-29d4e311-eb40-4943-bc94-9b733fc307c7.json
Labels: bug

#362 Add MyAnimeList plugin
  plugins/MyAnimeList-7463e642-7ab5-4df5-b537-56eefcc53e74
Labels: Plugin Submission

#361 Add Ollama Plugin
  plugins/Ollama-129ae526-b5c7-4ba5-9f94-d60dffd68b98.json
Labels: Plugin Submission

#363 Fix duplicate UUID + add json extension file check
  ci/src/_utils.py
  ci/src/validator.py
  plugins/MyAnimeList-7463e642-7ab5-4df5-b537-56eefcc53e74
  plugins/MyAnimeList-7463e642-7ab5-4df5-b537-56eefcc53e74.json
Labels: bug, Continuous Integration/Workflow

#365 Add Git Easy plugin
  plugins/Git Easy-AA9EA7B6AB4A4822858BC38FF6344248.json
Labels: Plugin Submission

#367 Add Bitwarden Plugin
  plugins/Bitwarden-5A8EBCEB7F6940E5B628BE122A87B560.json
Labels: Plugin Submission

#368 Bitwarden - Update Icon
  plugins/Bitwarden-5A8EBCEB7F6940E5B628BE122A87B560.json
Labels: bug

#369 Add new plugin: AnyVideo Downloader
  plugins/AnyVideo Downloader-70CED0AC-3D9D-4255-AD0B-D9A37862E879.json
Labels: Plugin Submission
