Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2025-02, with the labels that each got.

#455 Add link checker for new plugin submissions
  .github/workflows/links.yml
  ci/src/_utils.py
  ci/src/merge-manifest.py
  ci/src/validator.py
Labels: Continuous Integration/Workflow

#453 add plugin release webhook notification
  .github/workflows/python-passed.yml
  ci/envs/requirements-update-tested.txt
  ci/src/_utils.py
  ci/src/discord.py
  ci/src/update-tested.py
  ci/src/updater.py
Labels: enhancement

#457 add Windows Terminal Profile Launcher plugin
  plugins/Windows Terminal Profile Launcher-638ee5a4-60ed-4a72-9f61-776934003cca.json
Labels: Plugin Submission

#464 New Plugin: CdList
  plugins.json
  plugins/CdList-A3EA904783E14335894354F09DC4B054.json
Labels: Plugin Submission

#456 Create New Plugin FlowRichPresence-6CD987FE4D5E43438EE51C43D0961F89
  plugins/FlowRichPresence-6CD987FE4D5E43438EE51C43D0961F89.json
Labels: Plugin Submission

#462 Fix wrong download urls with shared repos
  .github/workflows/links.yml
  ci/src/updater.py
  plugins/Search Unicode – Identify-B9EE77F84A9141C3850BB329D45B8D9A.json
  plugins/Search Unicode – Search-10DB6EB0939443BCA556ACCF93AA98BF.json
Labels: bug

#467 Add DevDocs Plugin
  plugins/DevDocs-a3c36e85-793c-4881-90bf-6d791a978a9f.json
Labels: Plugin Submission

#469 Fix misspelling of match in regex download url error
  ci/src/updater.py
Labels: Continuous Integration/Workflow

#472 New Plugin: Gitmoji Plus 😜
  plugins/Gitmoji Plus-218DAC752A2E468AB3781AFAEB481CBF.json
Labels: Plugin Submission

#473 New Plugin: Mock 🥸
  plugins/Mock-251B44B4162E470B9167A2954DAEBC6E.json
Labels: Plugin Submission
