Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2025-05, with the labels that each got.

#497 Add SVGL to the Plugin manifest
  plugins/SVGl Plugin-AAA4B665C94142F89B7D3DDCEA5E91CF.json
Labels: Plugin Submission

#498 Validate download url in `validator.py`
  ci/src/_utils.py
  ci/src/updater.py
  ci/src/validator.py
Labels: Continuous Integration/Workflow

#503 New Plugin: Edge Profiles
  plugins/Edge Profiles-2fdb3f66-fb98-4443-a1ce-24088bedb1f4.json
Labels: Plugin Submission

#505 Set default plugins to v1.20.0
  plugins.json
  plugins/Browser Bookmarks-0ECADE17459B49F587BF81DC3A125110.json
  plugins/Calculator-CEA0FDFC6D3B4085823D60DC76F28855.json
  plugins/Explorer-572be03c74c642baae319fc283e561a8.json
  plugins/Plugin Indicator-6A122269676E40EB86EB543B945932B9.json
  plugins/Plugins Manager-9f8f9b14-2518-4907-b211-35ab6290dee7.json
  plugins/Process Killer-b64d0a79-329a-48b0-b53f-d658318a1bf6.json
  plugins/Program-791FC278BA414111B8D1886DFE447410.json
  plugins/Shell-D409510CD0D2481F853690A07E6DC426.json
  plugins/System Commands-CEA08895D2544B019B2E9C5009600DF4.json
  plugins/URL-0308FD86DE0A4DEE8D62B9B535370992.json
  plugins/Web Searches-565B73353DBF4806919830B9202EE3BF.json
  plugins/Windows Settings-5043CETYU6A748679OPA02D27D99677A.json
Labels: enhancement

#509 New Plugin : Time To Beat
  plugins/Time To Beat-cfe6d94b-c06c-4a66-8b57-aab57f047ce1.json
Labels: Plugin Submission
