Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2025-03, with the labels that each got.

#470 New Plugin: Wallpaper Changer
  plugins/Wallpaper Changer-d3dcd1a102b8412bb9e92bf78a5f4e82.json
Labels: Plugin Submission

#478 bump actions/cache version from 2 to 4
  .github/workflows/test-python.yml
Labels: bug

#479 Change Clipboard+ description
  plugins.json
  plugins/Clipboard+-ff9385ec-0e95-452f-bef2-62456f66fe0f.json
Labels: enhancement

#477 New plugin: Free Dictionary
  plugins/Free Dictionary-2DCC5AE74387484D8F8353AB158A4380.json
Labels: Plugin Submission

#483 New Plugin: Discord Webhook
  plugins/Discord Webhook-71faf57f-53e5-4637-b01c-b39d3ea3b2bf.json
Labels: Plugin Submission

#474 New plugin: Hoarder
  plugins/Hoarder-cf3dd749-166c-4cbe-8e85-d8d3f2057119.json
Labels: Plugin Submission

#468 New plugin: YOURLS integration plugin
  plugins/YOURLS-8931A4C6BC4141DE99523AA888BF6E21.json
Labels: Plugin Submission

#482 New Plugin: AI
  AI Assistant-8226842d-f2e2-4159-940c-966666ce7b44.json
Labels: Plugin Submission

#481 New plugin: MarkdownTodo
  plugins/MarkdownTodo-dbe2ddb788c046599a627db1c3ab99af.json
Labels: Plugin Submission

#484 New Plugin: Lively Wallpaper Controller
  plugins/Lively Wallpaper Controller-5C310C539BFF4F47BA15D01AF0173032.json
Labels: Plugin Submission

#488 Fix incorrect AI Assistant plugin path
  plugins/AI Assistant-8226842d-f2e2-4159-940c-966666ce7b44.json
Labels: bug

#486 New plugin: Scoop
  plugins/Scoop-D8A705AD7AB849ACB581FF46D3B59816.json
Labels: Plugin Submission

#487 New plugin: Noor Flow
  plugins/Noor Flow-42f4fb22-c254-49b3-81d2-6c5b591c2152.json
Labels: Plugin Submission
