Repository Flow-Launcher/Flow.Launcher.PluginsManifest, pull requests merged in 2025-06, with the labels that each got.

#514 Add Uninstaller+ plugin
  plugins/Uninstaller+-dd2fd217-e332-4fbd-9012-4940e08d41a7.json
Labels: Plugin Submission

#513 Add Window Manager plugin
  plugins/Window Manager-d13e69b5-048a-4dce-a950-cbdd5f61f3be.json
Labels: Plugin Submission

#516 New Plugin: FileFolderOpener
  plugins/FileFolderOpener-7930b75e-1aca-4481-a887-33610ae8ee2d.json
Labels: Plugin Submission

#519 Add example for properties & Add helper string
  README.md
Labels: documentation

#525 Create LaunchNow-cb95613a-626f-4153-9c21-b1f7ea3bcf37.json
  plugins/LaunchNow-cb95613a-626f-4153-9c21-b1f7ea3bcf37.json
Labels: enhancement
